<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#0E0232" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Viso, Site de Tecnologia, Blog pessoal">
    <link rel="shortcut icon" href="./assets/img/logo/viso.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="./assets/css/main.css?v=<?php echo time(); ?>">

    <title>Não encontrado</title>
</head>

<div class="error-content">

    <section id="panel-erro">
        <img src="../assets/img/logo/viso.svg" alt="Viso logotipo">
        <h1 class="title">Ops, houve um erro 404!</h1>

        <h2 class="reason">Isso acontece quando a página não é encontrada no site</h2>

        <p class="advice">Verifique se você digitou o URL corretamente. <br>
            O site possui sensibilidade a letras maiúsculas e minúsculas, portanto, <br> certifique-se de que as letras
            maiúsculas no URL correspondam aos arquivos enviados.</p>
    </section>

</div>