<div id="page-content" >
    <div id="inicio">
        <section id="panel1">
            <p id="timeline-text">Arte do século I </p>
            <img src="./vilaca/assets/img/circulo.svg" class="circle" alt="Século I">
            <div class="line-bottom"></div>
            <div class="row">
                <div class="col-sm-12 d-flex justify-content-end">
                    <div class="text-frame" data-aos="fade-down">
                        <h1>Perseu e Andrômeda</h1>
                        <p>Pompeia, Roma Antiga</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5">
                    <img src="./vilaca/assets/img/perseu-e-andromedra.png" class="img-fluid" id="panel-picture">
                </div>
            </div>
        </section>
        <section id="panel2">
            <p id="timeline-text">Século XVI</p>
            <img src="./vilaca/assets/img/circulo.svg" class="circle" alt="Século XVI">
            <div class="line-top"></div>
            <div class="line-bottom"></div>
            <div class="row">
                <div class="col-sm-7 d-flex justify-content-center">
                    <div class="text-frame" data-aos="fade-down">
                        <h1>A Criação de Adão</h1>
                        <p>Michelangelo, Capela Sistina</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <img src="./vilaca/assets/img/criacao-de-adao.png" id="panel-picture">
                </div>
            </div>
        </section>
        <section id="panel3">
            <p id="timeline-text">Século XXI</p>
            <img src="./vilaca/assets/img/circulo.svg" class="circle" alt="Século XXI">
            <div class="line-top"></div>
            <div class="row">
                <div class="col-sm-12 d-flex justify-content-end">
                    <div class="text-frame" data-aos="fade-down">
                        <h1>Somos os artistas da nova geração</h1>
                        <p>nossa criatividade nunca tem fim</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- <section class="standard" id="panel4">
            <div class="container align-self-center mb-5">
                <div class="row">
                    <div class="col-sm-12 d-flex justify-content-center">
                        <div class="text-frame" data-aos="fade-down">
                            <h1>Blog</h1>
                            <p>Últimas postagens do Blog</p>
                        </div>
                    </div>
                </div>

                <div class="row" id="content-blog">

                </div>

            </div>

        </section> -->
    </div>



</div>