<div id="page-content">
    <section class="standard py-3" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-frame" data-aos="fade-down">
                    <h1>Portfólio</h1>
                    <p>Segue abaixo alguns projetos já desenvolvidos.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="card py-3 mb-3" data-aos="zoom-in">
                        <h2 class="py-1">Cliente Unimed</h2>
                        <img src="./vilaca/assets/img/portfolio/unimed1.png" alt="Unimed Criciúma">
                        <p>Foi desenvolvido uma solução para atender à demanda do cliente, que buscava automatizar a
                            apresentação de documentos em seu site. A ferramenta foi criada na área de Cota Capital e
                            permite gerar relatórios de forma automatizada. Além disso, essa solução disponibiliza e
                            filtra todos os dados gerados até o momento, possibilitando uma visualização mais precisa e
                            eficiente através da seleção de período desejado.</p>
                        <p>Esse é um exemplo de relatório:</p>
                        <img src="./vilaca/assets/img/portfolio/unimed2.png" alt="Unimed Criciúma">
                        <a class="vs-btn" role="button" href="https://www.unimedcriciuma.com.br/"
                            target="__blank">Acessar</a>
                    </div>

                    <div class="card py-3 mb-3" data-aos="zoom-in">
                        <h2 class="py-1">Spotify Clone</h2>
                        <img src="./vilaca/assets/img/portfolio/spotify.png" alt="Spotify Imagem do Clone">
                        <a class="vs-btn" role="button" href="http://vilacasoftware.rf.gd/projects/spotify/index.php"
                            target="__blank">Acessar</a>
                    </div>

                    <div class="card py-3 mb-3" data-aos="zoom-in">
                        <h2 class="py-1">TWS automação</h2>
                        <img src="./vilaca/assets/img/portfolio/tws.png" alt="4unik">
                        <p>Colaborei com o desenvolvimento do sistema, com ênfase nas funcionalidades do frontend e
                            também no backend, para assegurar uma melhor performance e usabilidade do sistema para o
                            usuário final.</p>
                        <a class="vs-btn" role="button" href="https://www.tws-automation-br.com/"
                            target="__blank">Acessar</a>
                    </div>
                </div>
                <div class="col-sm-6">

                    <div class="card py-3 mb-3" data-aos="zoom-in">
                        <h2 class="py-1">Projeto Laravel Framework PHP e API utilizando Spring Boot</h2>
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/ioYn5XuA0hc"></iframe>
                        </div>
                        <p>Este projeto foi desenvolvido com o framework Laravel e utiliza APIs para testar o
                            funcionamento de um sistema de gerenciamento hospitalar. Também foi integrado com Spring
                            Boot para assegurar uma maior flexibilidade e escalabilidade na avaliação do sistema.</p>
                    </div>

                    <div class="card py-3 mb-3" data-aos="zoom-in">
                        <h2 class="py-1">Site Oráculo</h2>
                        <img src="./vilaca/assets/img/portfolio/cartas.png" alt="Site de Oráculo">
                        <p>Este projeto foi desenvolvido com uma framework própria, visando uma melhoria no desempenho e
                            redução dos recursos carregados, para garantir uma experiência de navegação mais rápida e
                            eficiente para o usuário. Com esse recurso, conseguimos oferecer uma navegação mais fluida e
                            agradável no site.</p>
                        <a class="vs-btn" role="button" href="https://cartasparajulietatarot.site/"
                            target="__blank">Acessar</a>
                    </div>
                    <div class="card py-3 mb-3" data-aos="zoom-in">
                        <h2 class=" py-1">4unik</h2>
                        <img src="./vilaca/assets/img/portfolio/4unik.png" alt="4unik">
                        <p>Participei ativamente no desenvolvimento do site da 4unik, contribuindo tanto na parte visual
                            (frontend) quanto na funcionalidade (backend) do mesmo, para garantir uma experiência
                            completa e satisfatória para os usuários e clientes.</p>
                        <a class="vs-btn" role="button" href="https://4unik.com.br/" target="__blank">Acessar</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-frame" data-aos="fade-down">
                    <p>Veja mais</p>
                </div>

                <div class="col-sm-6">
                    <div class="card py-3 mb-3" data-aos="zoom-in">
                        <h2 class=" py-1">Baffi</h2>
                        <img src="./vilaca/assets/img/portfolio/baffi.jpg" alt="Baffi">
                        <p>Baffi é um laboratório de análises clínicas de renome, que se orgulha de oferecer serviços de
                            alta qualidade e precisão aos seus pacientes. Eu tive a honra de colaborar com a equipe do
                            Baffi, aprimorando as partes visuais do layout do laboratório, para garantir uma experiência
                            agradável e fácil para os pacientes. </p>
                        <a class="vs-btn" role="button" href="https://www.baffi.com.br/" target="__blank">Acessar</a>
                    </div>
                    <div class="card py-3 mb-3" data-aos="zoom-in">
                        <h2 class=" py-1">Odonto</h2>
                        <img src="./vilaca/assets/img/portfolio/odonto.jpg" alt="Odonto">
                        <p>Colaborei com a equipe da Odonto Concursos, uma empresa
                            especializada em preparação para concursos públicos de odontologia. Minha contribuição
                            incluiu aprimoramentos na mecânica de funcionamento do backend, garantindo ainda mais
                            eficiência e precisão nos serviços oferecidos pela empresa. </p>
                        <a class="vs-btn" role="button" href="https://www.odontoconcursos.com.br/"
                            target="__blank">Acessar</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card py-3 mb-3" data-aos="zoom-in">
                        <h2 class=" py-1">Graph-It</h2>
                        <img src="./vilaca/assets/img/portfolio/graphit.jpg" alt="Graph-It">
                        <p>A Graph-it, é uma escola de design renomada.
                            Minha contribuição incluiu o aprimoramento da parte visual e o funcionamento do backend,
                            garantindo uma experiência de usuário ainda mais agradável e fácil para os alunos. </p>
                        <a class="vs-btn" role="button" href="https://e-graphit.com.br/" target="__blank">Acessar</a>
                    </div>
                    <div class="card py-3 mb-3" data-aos="zoom-in">
                        <h2 class=" py-1">Grom</h2>
                        <img src="./vilaca/assets/img/portfolio/grom.jpg" alt="Grom">
                        <p>Ajudei a equipe da Grom, uma empresa de engenharia de
                            renome. Minha contribuição incluiu ajustes no funcionamento dos formulários do site,
                            garantindo uma experiência de usuário mais suave e eficiente para os clientes. </p>
                        <a class="vs-btn" role="button" href="https://www.grom.com.br/" target="__blank">Acessar</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-frame" data-aos="fade-down">
                    <p>Projeto atual</p>
                </div>
                <div class="col-sm-6">
                    <div class="card py-3 mb-3" data-aos="zoom-in">
                        <h2 class="py-1">Gopliance</h2>
                        <img src="./vilaca/assets/img/portfolio/gopliance.png" alt="Gopliance">
                        <p>Atualmente, tenho o privilégio de estar envolvido no desenvolvimento da plataforma de
                            compliance de empresas, a Gopliance. Estamos trabalhando duro para atender às demandas de
                            nossos clientes, incluindo algumas das maiores empresas do país, como a XP Investimentos,
                            PinBanK, Darwin Seguros, entre outros.</p>
                        <a class="vs-btn" role="button" href="https://gopliance.com.br/" target="__blank">Acessar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>