body {
    background: $corI;

    .login-box {
        margin-top: 176px;
        height: auto;
        background: $corII;
        text-align: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    
}