
body {
    font-family: 'Outfit', sans-serif;
}

.navbar-nav {
    .nav-link {
        color: $corVI !important;
    }
}


h1 {
    font-size: 56px;
    font-weight: 400;
    @include xs {
        font-size: 30px;
    }

    @include sm {
        font-size: 35px;
    }

    @include md {
        font-size: 44px;
    }
}

h2 {
    font-size: 30px;
    font-weight: 400;
    @include xs {
        font-size: 20px;
    }

    @include sm {
        font-size: 25px;
    }

    @include md {
        font-size: 28px;
    }
}

p {
    font-weight: 400;
    font-size: 16px;

    @include xs {
        font-size: 14px;
    }

    @include sm {
        font-size: 15px;
    }

    
}