footer {
    background-color: #0E0232;
    height: 83px;
    width: auto;

    p {
        color: #fff;
        font-weight: 100;
        font-size: 14px;
    }

    img {
        position: relative;
        bottom: 7px;
    }
}